@{
    ViewData["Title"] = "Home Page";
}
@model ProductListViewModel
<div class="slide-home-04">
    <div class="response-product product-list-owl owl-slick equal-container better-height"
         data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
         data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
        <div class="slide-wrap">
            <img src="~/assets/images/slide42.jpg" alt="image">
            <div class="slide-info">
                <div class="container">
                    <div class="slide-inner">
                        <h2>Khuyến mại lớn</h2>
                        <h1>
                            Xe đua phun sương<br>
                            tốc độ cao
                        </h1>
                        <h5>Giá chỉ từ:<strong>300.000đ</strong></h5>
                        <a href="shop.html">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-wrap">
            <img src="~/assets/images/slide42.jpg" alt="image">
            <div class="slide-info">
                <div class="container">
                    <div class="slide-inner">
                        <h2>Hàng mới về</h2>
                        <h1>
                            Xe đua phát nhạc<br>
                            cực ngầu
                        </h1>
                        <h5>Giá:<strong>300,000đ</strong></h5>
                        <a href="shop.html">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-wrap">
            <img src="~/assets/images/slide43.jpg" alt="image">
            <div class="slide-info">
                <div class="container">
                    <div class="slide-inner">
                        <h2>Bán chạy nhất</h2>
                        <h1>
                            Lều cho bé<br>
                            ngôi nhà đáng yêu
                        </h1>
                        <h5>Giá:<strong>300.000đ</strong></h5>
                        <a href="shop.html">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-022">
    <div class="container">
        <div class="kodory-tabs style-01">
            <div class="tab-head">
                <ul class="tab-link equal-container " data-loop="1">
                    <li class="active">
                        <a class="loaded" data-ajax="0" data-animate="" data-section="1547652538969-4e9e849f-123a"
                           data-id="330" href="#1547652538969-4e9e849f-123a-5d80aefaa70e2">
                            <span>Xe đồ chơi</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="" data-ajax="0" data-animate="" data-section="1547652726354-2b0cdba5-80e9"
                           data-id="330" href="#1547652726354-2b0cdba5-80e9-5d80aefaa70e2">
                            <span>Lều</span>
                        </a>
                    </li>
                    <li class="">
                        <a class="" data-ajax="0" data-animate="" data-section="1547652725565-7e88bea3-ede2"
                           data-id="330" href="#1547652725565-7e88bea3-ede2-5d80aefaa70e2">
                            <span>Sản phẩm khác</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-container">
                <div class="tab-panel active" id="1547652538969-4e9e849f-123a-5d80aefaa70e2">
                    <div class="kodory-products style-01">
                        <div class="response-product product-list-grid row auto-clear equal-container better-height ">
                            @foreach (var item in Model.rcs)
                            {
                                <div class="product-item recent-product style-01 rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-ts-6 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner tooltip-left">
                                        <div class="product-thumb">
                                            <a class="thumb-link"
                                           href="single-product.html">
                                                <img class="img-responsive"
                                                 src="@item.Images"
                                                 alt="" width="270" height="350">
                                            </a>
                                            <div class="flash">
                                                <span class="onnew"><span class="text">New</span></span>
                                            </div>
                                            <div class="group-button">
                                                <div class="yith-wcwl-add-to-wishlist">
                                                    <div class="yith-wcwl-add-button show">
                                                        <a href="wishlist.html" class="add_to_wishlist">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                                <div class="kodory product compare-button">
                                                    <a href="compare.html" class="compare button">Compare</a>
                                                </div>
                                                <a href="#" class="button yith-wcqv-button">Quick View</a>
                                                <div class="add-to-cart">
                                                    <a href="cart.html"
                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                        Add
                                                        to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info equal-elem">
                                            <h3 class="product-name product_title">
                                                <a href="single-product.html">@item.Name</a>
                                            </h3>
                                            <div class="rating-wapper nostar">
                                                <div class="star-rating">
                                                    <span style=@string.Format("width:{0}%",20*item.Star)>
                                                        Rated <strong class="rating">@item.Star</strong> out of 5
                                                    </span>
                                                </div>
                                                <span class="review">(0)</span>
                                            </div>
                                            <span class="price">
                                                @if (@item.Discount < @item.Cost)
                                                {
                                                    <del>
                                                        <span class="kodory-Price-amount amount">
                                                            <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="kodory-Price-amount amount">
                                                            <span class="kodory-Price-currencySymbol"></span>@item.Discount?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                        </span>
                                                    </ins>
                                                }
                                                else
                                                {
                                                    <span class="kodory-Price-amount amount">
                                                        <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                    </span>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- OWL Products -->
                    </div>
                </div>
                <div class="tab-panel " id="1547652726354-2b0cdba5-80e9-5d80aefaa70e2">
                    <div class="kodory-products style-01   kodory_custom_5d67efefedff9 ">
                        <div class="response-product product-list-grid row auto-clear equal-container better-height ">
                            @foreach (var item in Model.camps)
                            {
                                <div class="product-item recent-product style-01 rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-ts-6 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner tooltip-left">
                                        <div class="product-thumb">
                                            <a class="thumb-link"
                                           href="single-product.html">
                                                <img class="img-responsive"
                                                 src="@item.Images"
                                                 alt="" width="270" height="350">
                                            </a>
                                            <div class="flash">
                                                <span class="onnew"><span class="text">New</span></span>
                                            </div>
                                            <div class="group-button">
                                                <div class="yith-wcwl-add-to-wishlist">
                                                    <div class="yith-wcwl-add-button show">
                                                        <a href="wishlist.html" class="add_to_wishlist">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                                <div class="kodory product compare-button">
                                                    <a href="compare.html" class="compare button">Compare</a>
                                                </div>
                                                <a href="#" class="button yith-wcqv-button">Quick View</a>
                                                <div class="add-to-cart">
                                                    <a href="cart.html"
                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                        Add
                                                        to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info equal-elem">
                                            <h3 class="product-name product_title">
                                                <a href="single-product.html">@item.Name</a>
                                            </h3>
                                            <div class="rating-wapper nostar">
                                                <div class="star-rating">
                                                    <span style=@string.Format("width:{0}%",20*item.Star)>
                                                        Rated <strong class="rating">@item.Star</strong> out of 5
                                                    </span>
                                                </div>
                                                <span class="review">(0)</span>
                                            </div>
                                            <span class="price">
                                                @if (@item.Discount < @item.Cost)
                                                {
                                                    <del>
                                                        <span class="kodory-Price-amount amount">
                                                            <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="kodory-Price-amount amount">
                                                            <span class="kodory-Price-currencySymbol"></span>@item.Discount?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                        </span>
                                                    </ins>
                                                }
                                                else
                                                {
                                                    <span class="kodory-Price-amount amount">
                                                        <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                    </span>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- OWL Products -->
                    </div>
                </div>
                <div class="tab-panel " id="1547652725565-7e88bea3-ede2-5d80aefaa70e2">
                    <div class="kodory-products style-01   kodory_custom_5d67efefee7c9 ">
                        <div class="response-product product-list-grid row auto-clear equal-container better-height ">
                            @foreach (var item in Model.others)
                            {
                                <div class="product-item recent-product style-01 rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-ts-6 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-simple">
                                    <div class="product-inner tooltip-left">
                                        <div class="product-thumb">
                                            <a class="thumb-link"
                                           href="single-product.html">
                                                <img class="img-responsive"
                                                 src="@item.Images"
                                                 alt="" width="270" height="350">
                                            </a>
                                            <div class="flash">
                                                <span class="onnew"><span class="text">New</span></span>
                                            </div>
                                            <div class="group-button">
                                                <div class="yith-wcwl-add-to-wishlist">
                                                    <div class="yith-wcwl-add-button show">
                                                        <a href="wishlist.html" class="add_to_wishlist">Add to Wishlist</a>
                                                    </div>
                                                </div>
                                                <div class="kodory product compare-button">
                                                    <a href="compare.html" class="compare button">Compare</a>
                                                </div>
                                                <a href="#" class="button yith-wcqv-button">Quick View</a>
                                                <div class="add-to-cart">
                                                    <a href="cart.html"
                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                        Add
                                                        to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info equal-elem">
                                            <h3 class="product-name product_title">
                                                <a href="single-product.html">@item.Name</a>
                                            </h3>
                                            <div class="rating-wapper nostar">
                                                <div class="star-rating">
                                                    <span style=@string.Format("width:{0}%",20*item.Star)>
                                                        Rated <strong class="rating">@item.Star</strong> out of 5
                                                    </span>
                                                </div>
                                                <span class="review">(0)</span>
                                            </div>
                                            <span class="price">
                                                @if (@item.Discount < @item.Cost)
                                                {
                                                    <del>
                                                        <span class="kodory-Price-amount amount">
                                                            <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="kodory-Price-amount amount">
                                                            <span class="kodory-Price-currencySymbol"></span>@item.Discount?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                        </span>
                                                    </ins>
                                                }
                                                else
                                                {
                                                    <span class="kodory-Price-amount amount">
                                                        <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                    </span>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- OWL Products -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-001">
    <div class="container">
        <div class="kodory-heading style-01">
            <div class="heading-inner">
                <h3 class="title">
                    Về chúng tôi <span></span>
                </h3>
                <div class="subtitle">
                    Cô Yến - Đồ chơi thông minh
                </div>
            </div>
        </div>
        <div class="kodory-instagram style-01">
            <div class="instagram-owl owl-slick"
                 data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:10,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;10&quot;}}]">
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta1.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta2.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta3.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta4.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta5.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta6.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta7.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="~/assets/images/insta8.jpg" alt="Home 04">
                        <span class="instagram-info">
                            <span class="social-wrap">
                                <span class="social-info">
                                    1
                                    <i class="pe-7s-chat"></i>
                                </span>
                                <span class="social-info">
                                    0
                                    <i class="pe-7s-like2"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-001 section-024">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="kodory-products style-06">
                    <h3 class="title">
                        <span>Khuyến mại</span>
                    </h3>
                    <div class="response-product product-list-owl owl-slick equal-container better-height"
                         data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:3}"
                         data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;30&quot;}}]">

                        @foreach (var item in Model.topSells)
                        {
                            <div class="product-item best-selling style-06 rows-space-30 post-25 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-specials product_tag-light product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a class="thumb-link"
                                       href="single-product.html"
                                       tabindex="0">
                                            <img class="img-responsive"
                                             src="@item.Images"
                                             alt="Modern Platinum" width="90" height="90">
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="single-product.html"
                                           tabindex="0">@item.Name</a>
                                        </h3>
                                        <div class="rating-wapper nostar">
                                            <div class="star-rating">
                                                <span style=@string.Format("width:{0}%",20*item.Star)>
                                                    Rated <strong class="rating">@item.Star</strong> out of 5
                                                </span>
                                            </div>
                                            <span class="review">(0)</span>
                                        </div>
                                        <span class="price">
                                            @if (@item.Discount < @item.Cost)
                                            {
                                                <del>
                                                    <span class="kodory-Price-amount amount">
                                                        <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                    </span>
                                                </del>
                                                <ins>
                                                    <span class="kodory-Price-amount amount">
                                                        <span class="kodory-Price-currencySymbol"></span>@item.Discount?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                    </span>
                                                </ins>
                                            }
                                            else
                                            {
                                                <span class="kodory-Price-amount amount">
                                                    <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                </span>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="kodory-products style-06">
                    <h3 class="title">
                        <span>Sản phẩm yêu thích</span>
                    </h3>
                    <div class="response-product product-list-owl owl-slick equal-container better-height"
                         data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:3}"
                         data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                        @foreach (var item in Model.topStars)
                        {
                            <div class="product-item best-selling style-06 rows-space-30 post-25 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-specials product_tag-light product_tag-sock first instock sale featured shipping-taxable purchasable product-type-simple">
                                <div class="product-inner">
                                    <div class="product-thumb">
                                        <a class="thumb-link"
                                       href="single-product.html"
                                       tabindex="0">
                                            <img class="img-responsive"
                                             src="@item.Images"
                                             alt="Modern Platinum" width="90" height="90">
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3 class="product-name product_title">
                                            <a href="single-product.html"
                                           tabindex="0">@item.Name</a>
                                        </h3>
                                        <div class="rating-wapper nostar">
                                            <div class="star-rating">
                                                <span style=@string.Format("width:{0}%",20*item.Star)>
                                                    Rated <strong class="rating">@item.Star</strong> out of 5
                                                </span>
                                            </div>
                                            <span class="review">(0)</span>
                                        </div>
                                        <span class="price">
                                            @if (@item.Discount < @item.Cost)
                                            {
                                                <del>
                                                    <span class="kodory-Price-amount amount">
                                                        <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                    </span>
                                                </del>
                                                <ins>
                                                    <span class="kodory-Price-amount amount">
                                                        <span class="kodory-Price-currencySymbol"></span>@item.Discount?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                    </span>
                                                </ins>
                                            }
                                            else
                                            {
                                                <span class="kodory-Price-amount amount">
                                                    <span class="kodory-Price-currencySymbol"></span>@item.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                                </span>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-001 section-009">
    <div class="container">
        <div class="kodory-slide">
            <div class="owl-slick equal-container better-height"
                 data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;50&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;60&quot;}}]">
                <div class="dreaming_single_image dreaming_content_element az_align_center">
                    <figure class="dreaming_wrapper az_figure">
                        <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in ">
                            <img src="~/assets/images/brand-logo-1.png"
                                 class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                        </div>
                    </figure>
                </div>
                <div class="dreaming_single_image dreaming_content_element az_align_center">
                    <figure class="dreaming_wrapper az_figure">
                        <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in ">
                            <img src="~/assets/images/brand-logo-5.png"
                                 class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                        </div>
                    </figure>
                </div>
                <div class="dreaming_single_image dreaming_content_element az_align_center">
                    <figure class="dreaming_wrapper az_figure">
                        <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in ">
                            <img src="~/assets/images/brand-logo-4.png"
                                 class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                        </div>
                    </figure>
                </div>
                <div class="dreaming_single_image dreaming_content_element az_align_center">
                    <figure class="dreaming_wrapper az_figure">
                        <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in ">
                            <img src="~/assets/images/brand-logo-3.png"
                                 class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                        </div>
                    </figure>
                </div>
                <div class="dreaming_single_image dreaming_content_element az_align_center">
                    <figure class="dreaming_wrapper az_figure">
                        <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in ">
                            <img src="~/assets/images/brand-logo-2.png"
                                 class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>