@{
    ViewData["Title"] = "Single Product";
}
@model Product
<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="kodory-notices-wrapper"></div>
                <div id="product-27"
                     class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                    <div class="main-contain-summary">
                        <div class="contain-left has-gallery">
                            <div class="single-left">
                                <div class="kodory-product-gallery kodory-product-gallery--with-images kodory-product-gallery--columns-4 images">
                                    <a href="#" class="kodory-product-gallery__trigger">
                                        <img draggable="false" class="emoji" alt="🔍"
                                             src="https://s.w.org/images/core/emoji/11/svg/1f50d.svg">
                                    </a>
                                    <div class="flex-viewport">
                                        <figure class="kodory-product-gallery__wrapper">
                                            <div class="kodory-product-gallery__image">
                                                <img alt="img"
                                                     src="assets/images/apro131-2.jpg">
                                            </div>
                                            <div class="kodory-product-gallery__image">
                                                <img src="assets/images/apro134-1.jpg"
                                                     alt="img">
                                            </div>
                                            <div class="kodory-product-gallery__image">
                                                <img src="assets/images/apro132-1.jpg"
                                                     class="" alt="img">
                                            </div>
                                            <div class="kodory-product-gallery__image">
                                                <img src="assets/images/apro133-1.jpg"
                                                     class="" alt="img">
                                            </div>
                                        </figure>
                                    </div>
                                    <ol class="flex-control-nav flex-control-thumbs">
                                        <li>
                                            <img src="assets/images/apro131-2-100x100.jpg"
                                                 alt="img">
                                        </li>
                                        <li>
                                            <img src="assets/images/apro134-1-100x100.jpg"
                                                 alt="img">
                                        </li>
                                        <li>
                                            <img src="assets/images/apro132-1-100x100.jpg"
                                                 alt="img">
                                        </li>
                                        <li>
                                            <img src="assets/images/apro133-1-100x100.jpg"
                                                 alt="img">
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span>
                                </div>
                                <h1 class="product_title entry-title">@Model.Name</h1>
                                <p class="price">
                                    <span class="kodory-Price-amount amount">
                                        <span class="kodory-Price-currencySymbol"></span>@Model.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                    </span> – <span class="kodory-Price-amount amount">
                                        <span class="kodory-Price-currencySymbol"></span>@Model.Cost?.ToString("#,###đ",GlobalVariables.cul.NumberFormat)
                                    </span>
                                </p>
                                <p class="stock in-stock"><span>Còn hàng</span>
                                </p>
                                <div class="kodory-product-details__short-description">
                                    <p>
                                        @Model.Description
                                    </p>
                                </div>
                                <form class="variations_form cart">
                                    <table class="variations">
                                        <tbody>
                                            <tr>
                                                <td class="label"><label>Màu sắc</label></td>
                                                <td class="value">
                                                    <select title="box_style" data-attributetype="box_style"
                                                            data-id="pa_color"
                                                            class="attribute-select " name="attribute_pa_color"
                                                            data-attribute_name="attribute_pa_color"
                                                            data-show_option_none="yes">
                                                        <option data-type="" data-pa_color="" value="">
                                                            Choose an option
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#3155e2" value="blue"
                                                                class="attached enabled">
                                                            Blue
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#ffe59e" value="pink"
                                                                class="attached enabled">
                                                            Pink
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#b6b8ba" value="red"
                                                                class="attached enabled">
                                                            Red
                                                        </option>
                                                        <option data-width="30" data-height="30" data-type="color"
                                                                data-pa_color="#e8e120" value="yellow"
                                                                class="attached enabled">
                                                            Yellow
                                                        </option>
                                                    </select>
                                                    <div class="data-val attribute-pa_color"
                                                         data-attributetype="box_style">
                                                        <label>
                                                            <input type="radio" name="color">
                                                            <span class="change-value color"
                                                                  style="background: #3155e2;" data-value="blue">
                                                            </span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="color">
                                                            <span class="change-value color"
                                                                  style="background: #52b745;" data-value="green">
                                                            </span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="color">
                                                            <span class="change-value color"
                                                                  style="background: #ffe59e;" data-value="pink">
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <a class="reset_variations" href="#"
                                                       style="visibility: hidden;">Clear</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="single_variation_wrap">
                                        <div class="kodory-variation single_variation"></div>
                                        <div class="kodory-variation-add-to-cart variations_button ">
                                            <div class="quantity">
                                                <span class="qty-label">Quantiy:</span>
                                                <div class="control">
                                                    <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                    <input type="text" data-step="1" name="quantity[25]" value="0" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*">
                                                    <a class="btn-number qtyplus quantity-plus" href="#">+</a>
                                                </div>
                                            </div>
                                            <button type="submit"
                                                    class="single_add_to_cart_button button alt kodory-variation-selection-needed">
                                                Add to cart
                                            </button>
                                            <input name="add-to-cart" value="27" type="hidden">
                                            <input name="product_id" value="27" type="hidden">
                                            <input name="variation_id" class="variation_id" value="0" type="hidden">
                                        </div>
                                    </div>
                                </form>
                                    <span class="sku_wrapper">SKU: <span class="sku">@Model.Name</span></span>
                                </div> 
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-md-12 col-sm-12 dreaming_related-product">
                <div class="block-title">
                    <h2 class="product-grid-title">
                        Sản phẩm liên quan
                        <span></span>
                    </h2>
                </div>
                <div class="owl-slick owl-products equal-container better-height"
                     data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;slidesToShow&quot;:4}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                     <div class="product-item style-01 post-35 product type-product status-publish has-post-thumbnail product_cat-chair product_cat-new-arrivals product_cat-lamp product_tag-light product_tag-hat product_tag-sock first instock shipping-taxable purchasable product-type-simple  ">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="single-product.html" tabindex="0">
                                    <img class="img-responsive"
                                         src="assets/images/apro151-1-600x778.jpg"
                                         alt="Modern Platinum" width="600" height="778">
                                </a>
                                <div class="flash">
                                    <span class="onsale"><span class="number">-11%</span></span>
                                    <span class="onnew"><span class="text">New</span></span>
                                </div>
                                <div class="group-button">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <div class="yith-wcwl-add-button show">
                                            <a href="wishlist.html" class="add_to_wishlist">Add to Wishlist</a>
                                        </div>
                                    </div>
                                    <div class="kodory product compare-button">
                                        <a href="compare.html" class="compare button">Compare</a>
                                    </div>
                                    <a href="#" class="button yith-wcqv-button">Quick View</a>
                                    <div class="add-to-cart">
                                        <a href="cart.html" class="button product_type_variable add_to_cart_button">
                                            Add to
                                            cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="single-product.html" tabindex="0">Modern Platinum</a>
                                </h3>
                                <div class="rating-wapper nostar">
                                    <div class="star-rating">
                                        <span style="width:0%">
                                            Rated <strong class="rating">0</strong> out of 5
                                        </span>
                                    </div>
                                    <span class="review">(0)</span>
                                </div>
                                <span class="price">
                                    <del>
                                        <span class="kodory-Price-amount amount">
                                            <span class="kodory-Price-currencySymbol">$</span>89.00
                                        </span>
                                    </del> <ins>
                                        <span class="kodory-Price-amount amount">
                                            <span class="kodory-Price-currencySymbol">$</span>79.00
                                        </span>
                                    </ins>
                                </span>
                            </div>
                        </div>
                    </div>
                   </div>
            </div> 
        </div>
    </div>
</div>